engine-strict=true
legacy-peer-deps=true
shamefully-hoist=false
strict-peer-dependencies=true
confirm-modules-purge=false
pnpm.onlyBuiltDependencies[]=@openrouter/sdk
pnpm.onlyBuiltDependencies[]=bufferutil
pnpm.onlyBuiltDependencies[]=esbuild
pnpm.onlyBuiltDependencies[]=msw
auto-install-peers=false
resolve-peers-from-workspace-root=false
