.list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 3);
}

.answer {
  display: flex;
  gap: var(--game-tile-gap);
}

.answerMini {
  --game-tile-gap: 4px;

  display: flex;
  gap: var(--game-tile-gap);
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--spacing) * 4);
}
